@font-face {
    font-family: 'Bw Beto';
    src: url('BwBeto-BoldItalic.eot');
    src: local('Bw Beto Bold Italic'), local('BwBeto-BoldItalic'),
        url('BwBeto-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('BwBeto-BoldItalic.woff2') format('woff2'),
        url('BwBeto-BoldItalic.woff') format('woff'),
        url('BwBeto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Bw Beto';
    src: url('BwBeto-BlackItalic.eot');
    src: local('Bw Beto Black Italic'), local('BwBeto-BlackItalic'),
        url('BwBeto-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('BwBeto-BlackItalic.woff2') format('woff2'),
        url('BwBeto-BlackItalic.woff') format('woff'),
        url('BwBeto-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Bw Beto';
    src: url('BwBeto-Black.eot');
    src: local('Bw Beto Black'), local('BwBeto-Black'),
        url('BwBeto-Black.eot?#iefix') format('embedded-opentype'),
        url('BwBeto-Black.woff2') format('woff2'),
        url('BwBeto-Black.woff') format('woff'),
        url('BwBeto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Bw Beto Grande';
    src: url('BwBetoGrande-BoldItalic.eot');
    src: local('Bw Beto Grande Bold Italic'), local('BwBetoGrande-BoldItalic'),
        url('BwBetoGrande-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('BwBetoGrande-BoldItalic.woff2') format('woff2'),
        url('BwBetoGrande-BoldItalic.woff') format('woff'),
        url('BwBetoGrande-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Bw Beto';
    src: url('BwBeto-Bold.eot');
    src: local('Bw Beto Bold'), local('BwBeto-Bold'),
        url('BwBeto-Bold.eot?#iefix') format('embedded-opentype'),
        url('BwBeto-Bold.woff2') format('woff2'),
        url('BwBeto-Bold.woff') format('woff'),
        url('BwBeto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bw Beto Grande';
    src: url('BwBetoGrande-Bold.eot');
    src: local('Bw Beto Grande Bold'), local('BwBetoGrande-Bold'),
        url('BwBetoGrande-Bold.eot?#iefix') format('embedded-opentype'),
        url('BwBetoGrande-Bold.woff2') format('woff2'),
        url('BwBetoGrande-Bold.woff') format('woff'),
        url('BwBetoGrande-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bw Beto Grande';
    src: url('BwBetoGrande-Black.eot');
    src: local('Bw Beto Grande Black'), local('BwBetoGrande-Black'),
        url('BwBetoGrande-Black.eot?#iefix') format('embedded-opentype'),
        url('BwBetoGrande-Black.woff2') format('woff2'),
        url('BwBetoGrande-Black.woff') format('woff'),
        url('BwBetoGrande-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Bw Beto Grande';
    src: url('BwBetoGrande-BlackItalic.eot');
    src: local('Bw Beto Grande Black Italic'), local('BwBetoGrande-BlackItalic'),
        url('BwBetoGrande-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('BwBetoGrande-BlackItalic.woff2') format('woff2'),
        url('BwBetoGrande-BlackItalic.woff') format('woff'),
        url('BwBetoGrande-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Bw Beto Grande';
    src: url('BwBetoGrande-Regular.eot');
    src: local('Bw Beto Grande Regular'), local('BwBetoGrande-Regular'),
        url('BwBetoGrande-Regular.eot?#iefix') format('embedded-opentype'),
        url('BwBetoGrande-Regular.woff2') format('woff2'),
        url('BwBetoGrande-Regular.woff') format('woff'),
        url('BwBetoGrande-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bw Beto Grande';
    src: url('BwBetoGrande-Medium.eot');
    src: local('Bw Beto Grande Medium'), local('BwBetoGrande-Medium'),
        url('BwBetoGrande-Medium.eot?#iefix') format('embedded-opentype'),
        url('BwBetoGrande-Medium.woff2') format('woff2'),
        url('BwBetoGrande-Medium.woff') format('woff'),
        url('BwBetoGrande-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Bw Beto Grande';
    src: url('BwBetoGrande-MediumItalic.eot');
    src: local('Bw Beto Grande Medium Italic'), local('BwBetoGrande-MediumItalic'),
        url('BwBetoGrande-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('BwBetoGrande-MediumItalic.woff2') format('woff2'),
        url('BwBetoGrande-MediumItalic.woff') format('woff'),
        url('BwBetoGrande-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Bw Beto';
    src: url('BwBeto-MediumItalic.eot');
    src: local('Bw Beto Medium Italic'), local('BwBeto-MediumItalic'),
        url('BwBeto-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('BwBeto-MediumItalic.woff2') format('woff2'),
        url('BwBeto-MediumItalic.woff') format('woff'),
        url('BwBeto-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Bw Beto Grande';
    src: url('BwBetoGrande-RegularItalic.eot');
    src: local('Bw Beto Grande Regular Italic'), local('BwBetoGrande-RegularItalic'),
        url('BwBetoGrande-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('BwBetoGrande-RegularItalic.woff2') format('woff2'),
        url('BwBetoGrande-RegularItalic.woff') format('woff'),
        url('BwBetoGrande-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Bw Beto';
    src: url('BwBeto-Light.eot');
    src: local('Bw Beto Light'), local('BwBeto-Light'),
        url('BwBeto-Light.eot?#iefix') format('embedded-opentype'),
        url('BwBeto-Light.woff2') format('woff2'),
        url('BwBeto-Light.woff') format('woff'),
        url('BwBeto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Bw Beto';
    src: url('BwBeto-LightItalic.eot');
    src: local('Bw Beto Light Italic'), local('BwBeto-LightItalic'),
        url('BwBeto-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('BwBeto-LightItalic.woff2') format('woff2'),
        url('BwBeto-LightItalic.woff') format('woff'),
        url('BwBeto-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Bw Beto Grande';
    src: url('BwBetoGrande-Light.eot');
    src: local('Bw Beto Grande Light'), local('BwBetoGrande-Light'),
        url('BwBetoGrande-Light.eot?#iefix') format('embedded-opentype'),
        url('BwBetoGrande-Light.woff2') format('woff2'),
        url('BwBetoGrande-Light.woff') format('woff'),
        url('BwBetoGrande-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Bw Beto';
    src: url('BwBeto-Medium.eot');
    src: local('Bw Beto Medium'), local('BwBeto-Medium'),
        url('BwBeto-Medium.eot?#iefix') format('embedded-opentype'),
        url('BwBeto-Medium.woff2') format('woff2'),
        url('BwBeto-Medium.woff') format('woff'),
        url('BwBeto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Bw Beto Grande';
    src: url('BwBetoGrande-LightItalic.eot');
    src: local('Bw Beto Grande Light Italic'), local('BwBetoGrande-LightItalic'),
        url('BwBetoGrande-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('BwBetoGrande-LightItalic.woff2') format('woff2'),
        url('BwBetoGrande-LightItalic.woff') format('woff'),
        url('BwBetoGrande-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Bw Beto';
    src: url('BwBeto-RegularItalic.eot');
    src: local('Bw Beto Regular Italic'), local('BwBeto-RegularItalic'),
        url('BwBeto-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('BwBeto-RegularItalic.woff2') format('woff2'),
        url('BwBeto-RegularItalic.woff') format('woff'),
        url('BwBeto-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Bw Beto';
    src: url('BwBeto-Regular.eot');
    src: local('Bw Beto Regular'), local('BwBeto-Regular'),
        url('BwBeto-Regular.eot?#iefix') format('embedded-opentype'),
        url('BwBeto-Regular.woff2') format('woff2'),
        url('BwBeto-Regular.woff') format('woff'),
        url('BwBeto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

