<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ula: Add Menu Item</title>
</head>
<body>
    <form action="/menu/additem" method = "POST">
        {% csrf_token %}
        <label for="title">Title: </label>
        <input id="title" type="text" name="title">
        <br><br>
        <label for="description">Description: </label>
        <input id="description" type="text" name="description">
        <br><br>
        <label for="price">Price: </label>
        <input id="price" type="number" name="price">
        <br><br>
    
        <label for="category">Category:</label>

        <select name="category" id="category">
        <option value="1">Appetizers</option>
        <option value="Soups & Salads">Soups & Salads</option>
        <option value="Crudos - Tartare">Crudos - Tartare</option>
        <option value="Carnes - Meats">Carnes - Meats</option>
        <option value="Pastas & Risottos">Pastas & Risottos</option>
        <option value="Del Mar - Seafood">Del Mar - Seafood</option>
        <option value="Charcuteria">Charcuteria</option>
        <option value="Desserts">Desserts</option>
        <option value="Champagne & White Wines">Champagne & White Wines</option>
        <option value="Red Wines">Red Wines</option>
        <option value="Cocktails">Cocktails</option>
        </select>

        <input type="submit" value="OK">
    </form>
</body>
</html>