{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ula</title>
    <link rel="stylesheet" href="{% static 'menu/css/menu.css' %}">
</head>
<body>
    <header>
        <div class="navigation">
            <div class="logo">
                <img src="{% static 'menu/images/logo.jpeg' %}" alt="" class="logo-img">
            </div>
        </div>
    </header>
</body>
</html>